// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../../core/resource';
import { APIPromise } from '../../../core/api-promise';
import { RequestOptions } from '../../../internal/request-options';
import { path } from '../../../internal/utils/path';

export class Pitch extends APIResource {
  /**
   * Retrieves the granular AI-driven analysis, strategic feedback, market validation
   * results, and any outstanding questions from Quantum Weaver for a specific
   * business pitch.
   *
   * @example
   * ```ts
   * const response = await client.ai.incubator.pitch.getDetails(
   *   'pitch_qw_synergychain-xyz',
   * );
   * ```
   */
  getDetails(pitchID: string, options?: RequestOptions): APIPromise<PitchGetDetailsResponse> {
    return this._client.get(path`/ai/incubator/pitch/${pitchID}/details`, options);
  }

  /**
   * Submits a detailed business plan to the Quantum Weaver AI for rigorous analysis,
   * market validation, and seed funding consideration. This initiates the AI-driven
   * incubation journey, aiming to transform innovative ideas into commercially
   * successful ventures.
   *
   * @example
   * ```ts
   * const quantumWeaverState =
   *   await client.ai.incubator.pitch.submit({
   *     businessPlan:
   *       "Our venture, 'SynergyChain AI,' aims to revolutionize global supply chain transparency and efficiency using a decentralized AI ledger. We leverage quantum-inspired algorithms to predict disruptions and optimize logistics, targeting multinational corporations...",
   *     financialProjections: {},
   *     foundingTeam: [{}],
   *     marketOpportunity:
   *       'The global supply chain market faces $1.5T in annual losses due to inefficiencies and lack of real-time data. SynergyChain AI offers a 30% reduction in lead times and a 15% cut in operational costs...',
   *   });
   * ```
   */
  submit(body: PitchSubmitParams, options?: RequestOptions): APIPromise<QuantumWeaverState> {
    return this._client.post('/ai/incubator/pitch', { body, ...options });
  }
}

/**
 * The current state and progress of a business pitch within the Quantum Weaver
 * incubation platform.
 */
export interface QuantumWeaverState {
  /**
   * AI's preliminary estimate of potential seed funding amount (in USD).
   */
  estimatedFundingOffer?: number | null;

  /**
   * A summary of initial AI-generated feedback and potential areas for improvement.
   */
  feedbackSummary?: string | null;

  lastUpdated?: string;

  nextSteps?: string;

  /**
   * Unique identifier for the business pitch.
   */
  pitchId?: string;

  /**
   * Specific questions from Quantum Weaver requiring clarification or additional
   * data from the entrepreneur.
   */
  questions?: Array<QuantumWeaverState.Question>;

  /**
   * Current stage of the business plan in the incubation process.
   */
  stage?:
    | 'submitted'
    | 'initial_review'
    | 'ai_analysis'
    | 'feedback_required'
    | 'test_phase'
    | 'final_review'
    | 'approved_for_funding'
    | 'rejected'
    | 'incubated_graduated';

  /**
   * A human-readable status message.
   */
  statusMessage?: string;
}

export namespace QuantumWeaverState {
  /**
   * A specific question from Quantum Weaver to the entrepreneur for clarification or
   * elaboration.
   */
  export interface Question {
    /**
     * Unique identifier for the question.
     */
    id?: string;

    /**
     * The category the question relates to.
     */
    category?: 'team' | 'technology' | 'market' | 'finance' | 'legal' | 'strategy';

    /**
     * Indicates if a response to this question is mandatory for progression.
     */
    isRequired?: boolean;

    /**
     * The detailed question posed by the AI.
     */
    question?: string;
  }
}

/**
 * Expanded, granular state of a business pitch with full AI feedback, financial
 * modeling, and market analysis.
 */
export interface PitchGetDetailsResponse extends QuantumWeaverState {
  /**
   * A personalized coaching plan generated by AI to help the entrepreneur refine
   * their pitch and business strategy.
   */
  aiCoachingPlan?: PitchGetDetailsResponse.AICoachingPlan;

  /**
   * AI-generated financial projections and sensitivity analysis for the business.
   */
  aiFinancialModel?: PitchGetDetailsResponse.AIFinancialModel;

  /**
   * AI-driven market validation, competitive landscape, and growth potential.
   */
  aiMarketAnalysis?: PitchGetDetailsResponse.AIMarketAnalysis;

  /**
   * AI's assessment of the overall business risk.
   */
  aiRiskAssessment?: PitchGetDetailsResponse.AIRiskAssessment;

  /**
   * AI's score indicating the alignment of the pitch with Demo Bank's investment
   * thesis and risk appetite.
   */
  investorMatchScore?: number;
}

export namespace PitchGetDetailsResponse {
  /**
   * A personalized coaching plan generated by AI to help the entrepreneur refine
   * their pitch and business strategy.
   */
  export interface AICoachingPlan {
    /**
     * A sequential list of actionable steps within the plan.
     */
    steps?: Array<AICoachingPlan.Step>;

    /**
     * Overall summary of the plan.
     */
    summary?: string;

    /**
     * Title of the AI-generated plan.
     */
    title?: string;
  }

  export namespace AICoachingPlan {
    /**
     * An individual actionable step within an AI-generated plan.
     */
    export interface Step {
      /**
       * Detailed description of the action required.
       */
      description?: string;

      /**
       * Links to helpful resources for completing the step.
       */
      resources?: Array<Step.Resource> | null;

      /**
       * Current status of the step (can be updated by the user).
       */
      status?: 'pending' | 'in_progress' | 'completed' | 'blocked';

      /**
       * Estimated timeline for completing this step.
       */
      timeline?: string;

      /**
       * Concise title for the step.
       */
      title?: string;
    }

    export namespace Step {
      export interface Resource {
        name?: string;

        url?: string;
      }
    }
  }

  /**
   * AI-generated financial projections and sensitivity analysis for the business.
   */
  export interface AIFinancialModel {
    breakevenPoint?: string;

    capitalRequirements?: number;

    costStructureAnalysis?: unknown;

    revenueBreakdown?: unknown;

    sensitivityAnalysis?: Array<AIFinancialModel.SensitivityAnalysis>;
  }

  export namespace AIFinancialModel {
    export interface SensitivityAnalysis {
      projectedIRR?: number;

      scenario?: string;

      terminalValue?: number;
    }
  }

  /**
   * AI-driven market validation, competitive landscape, and growth potential.
   */
  export interface AIMarketAnalysis {
    competitiveAdvantages?: Array<string>;

    growthOpportunities?: string;

    riskFactors?: string;

    targetMarketSize?: string;
  }

  /**
   * AI's assessment of the overall business risk.
   */
  export interface AIRiskAssessment {
    marketRisk?: string;

    teamRisk?: string;

    technicalRisk?: string;
  }
}

export interface PitchSubmitParams {
  /**
   * The user's detailed narrative business plan (e.g., executive summary, vision,
   * strategy).
   */
  businessPlan: string;

  /**
   * Key financial metrics and projections for the next 3-5 years.
   */
  financialProjections: PitchSubmitParams.FinancialProjections;

  /**
   * Key profiles and expertise of the founding team members.
   */
  foundingTeam: Array<PitchSubmitParams.FoundingTeam>;

  /**
   * Detailed analysis of the target market, problem statement, and proposed
   * solution's unique value proposition.
   */
  marketOpportunity: string;
}

export namespace PitchSubmitParams {
  /**
   * Key financial metrics and projections for the next 3-5 years.
   */
  export interface FinancialProjections {
    profitabilityEstimate?: string;

    projectionYears?: number;

    revenueForecast?: Array<number>;

    /**
     * Requested seed funding in USD.
     */
    seedRoundAmount?: number;

    /**
     * Pre-money valuation in USD.
     */
    valuationPreMoney?: number;
  }

  export interface FoundingTeam {
    experience?: string;

    name?: string;

    role?: string;
  }
}

export declare namespace Pitch {
  export {
    type QuantumWeaverState as QuantumWeaverState,
    type PitchGetDetailsResponse as PitchGetDetailsResponse,
    type PitchSubmitParams as PitchSubmitParams,
  };
}
