// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../core/resource';
import { APIPromise } from '../../core/api-promise';
import { RequestOptions } from '../../internal/request-options';

export class Wallets extends APIResource {
  /**
   * Retrieves a list of all securely linked cryptocurrency wallets (e.g., MetaMask,
   * Ledger integration), showing their addresses, associated networks, and
   * verification status.
   *
   * @example
   * ```ts
   * const cryptoWalletConnections =
   *   await client.web3.wallets.list();
   * ```
   */
  list(options?: RequestOptions): APIPromise<WalletListResponse> {
    return this._client.get('/web3/wallets', options);
  }

  /**
   * Initiates the process to securely connect a new cryptocurrency wallet to the
   * user's Demo Bank profile, typically involving a signed message or OAuth flow
   * from the wallet provider.
   *
   * @example
   * ```ts
   * const cryptoWalletConnection =
   *   await client.web3.wallets.connect({
   *     signedMessage: '0xabcdef1234567890...',
   *     walletAddress: '0x123abc...',
   *     walletProvider: 'MetaMask',
   *   });
   * ```
   */
  connect(body: WalletConnectParams, options?: RequestOptions): APIPromise<CryptoWalletConnection> {
    return this._client.post('/web3/wallets', { body, ...options });
  }
}

/**
 * Details of a connected cryptocurrency wallet.
 */
export interface CryptoWalletConnection {
  /**
   * Unique identifier for the wallet connection.
   */
  id?: string;

  /**
   * The primary blockchain network associated with this wallet.
   */
  blockchainNetwork?: 'Ethereum' | 'Polygon' | 'Solana' | 'Bitcoin' | 'BinanceSmartChain' | 'Other';

  /**
   * Timestamp of the last successful synchronization with the blockchain.
   */
  lastSynced?: string;

  /**
   * Indicates if Demo Bank has permission to read wallet balances and transaction
   * history.
   */
  readAccessGranted?: boolean;

  /**
   * Current connection status of the wallet.
   */
  status?: 'connected' | 'disconnected' | 'pending_verification' | 'error';

  /**
   * The primary public address of the wallet.
   */
  walletAddress?: string;

  /**
   * The provider or type of the cryptocurrency wallet.
   */
  walletProvider?: 'MetaMask' | 'Ledger' | 'Trezor' | 'CoinbaseWallet' | 'Other';

  /**
   * Indicates if Demo Bank has permission to initiate transactions from this wallet
   * (e.g., via signing requests).
   */
  writeAccessGranted?: boolean;
}

export type WalletListResponse = Array<CryptoWalletConnection>;

export interface WalletConnectParams {
  /**
   * A cryptographic signature generated by the wallet, proving ownership of the
   * address (e.g., signing a nonce provided by Demo Bank).
   */
  signedMessage: string;

  /**
   * The public address of the wallet to connect.
   */
  walletAddress: string;

  /**
   * The provider of the wallet.
   */
  walletProvider: 'MetaMask' | 'Ledger' | 'Trezor' | 'CoinbaseWallet' | 'Other';

  /**
   * The primary blockchain network for this wallet.
   */
  blockchainNetwork?: 'Ethereum' | 'Polygon' | 'Solana' | 'Bitcoin' | 'BinanceSmartChain' | 'Other';
}

export declare namespace Wallets {
  export {
    type CryptoWalletConnection as CryptoWalletConnection,
    type WalletListResponse as WalletListResponse,
    type WalletConnectParams as WalletConnectParams,
  };
}
