// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../../core/resource';
import { APIPromise } from '../../../core/api-promise';
import { RequestOptions } from '../../../internal/request-options';

export class Simulate extends APIResource {
  /**
   * Submits a hypothetical scenario to the Quantum Oracle AI for standard financial
   * impact analysis. The AI simulates the effect on the user's current financial
   * state and provides a summary.
   *
   * @example
   * ```ts
   * const response = await client.ai.oracle.simulate.run();
   * ```
   */
  run(body: SimulateRunParams, options?: RequestOptions): APIPromise<SimulateRunResponse> {
    return this._client.post('/ai/oracle/simulate', { body, ...options });
  }

  /**
   * Engages the Quantum Oracle for highly complex, multi-variable simulations,
   * allowing precise control over numerous financial parameters, market conditions,
   * and personal events to generate deep, predictive insights and sensitivity
   * analysis.
   *
   * @example
   * ```ts
   * const response =
   *   await client.ai.oracle.simulate.runAdvanced();
   * ```
   */
  runAdvanced(body: SimulateRunAdvancedParams, options?: RequestOptions): APIPromise<unknown> {
    return this._client.post('/ai/oracle/simulate/advanced', { body, ...options });
  }
}

export interface SimulateRunResponse {
  /**
   * AI-driven risk assessment of the simulated scenario.
   */
  riskAnalysis?: unknown;
}

export type SimulateRunAdvancedResponse = unknown;

export interface SimulateRunParams {}

export interface SimulateRunAdvancedParams {
  /**
   * Optional: Global economic conditions to apply to all scenarios.
   */
  globalEconomicFactors?: unknown;

  /**
   * Optional: Personal financial assumptions to override defaults.
   */
  personalAssumptions?: unknown;
}

export declare namespace Simulate {
  export {
    type SimulateRunResponse as SimulateRunResponse,
    type SimulateRunAdvancedResponse as SimulateRunAdvancedResponse,
    type SimulateRunParams as SimulateRunParams,
    type SimulateRunAdvancedParams as SimulateRunAdvancedParams,
  };
}
